<div>
    <table class="table">
      <thead>
        <tr>
            <th>Name</th>
            <th>Marks</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
        <%= form_tag('/articles', remote: true) do %>
        <tr>
            <td>
                <strong><%=question.question%></strong>
            </td>

            <td>
                <%=number_field_tag "marks_#{@test.id}_#{question.id}", '1',min:'1'%>
            </td>
              <!-- <td><%= link_to "Tets",'javascript:hello()'%></td> -->
            <td><%= link_to "Add",add_question_to_current_test_path(test_id:@test.id,question_id:question.id),remote: true, class: 'btn btn-success'%></td>
        </tr>
        <%-end %>
        <%- end %>
      </tbody>

    </table>
</div>
