<div>
    <!-- <table class="table">
      <thead>
        <tr>
            <th>Name</th>
            <th>Marks</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody> -->
        <% @questions.each do |question| %>
          <!-- <tr> -->
                <strong><%=question.question%></strong>
                <!-- <td> -->
              <!-- </td> -->

              <!-- <td> -->
                <%= form_for(:obj, url:add_question_to_current_test_path(test_id:@test.id,question_id:question.id),remote:true,method:"GET") do |f| %>
                  <%= f.number_field :marks, value: '1'%>
                  <%= f.submit("Add",class:'btn btn-success')%>
                <%- end %>
              <!-- </td> -->
              <!--Converted from link_to  form to passs marks to add_  -->
              <!-- <td><%= link_to "Add",add_question_to_current_test_path(test_id:@test.id,question_id:question.id),remote: true, class: 'btn btn-success'%></td> -->
          <!-- </tr> -->
        <%- end %>
      <!-- </tbody> -->

    <!-- </table> -->
</div>
