<h1>Create Question</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <%= form_for(@question,url:questions_path,method:'POST') do |f| %>
        <%= render 'shared/error_messages',object: f.object %>

        <div class="qtype">
            <%= f.label :question_type %><br/>
            <%= f.label :question_type, "Single Answer Correct"%>
            <%= f.radio_button :question_type,1,:checked => true%>
        </div>

        <div class="qcategory">
            <%= f.label :category, "Select Category"%>
            <%= f.collection_select :category_id,Category.all,:id,:name%>
        </div>

        <div id="question">
            <%= f.label :question %><br/>
            <%= f.text_area :question,autofocus: true %>
        </div>

        <div id="options">

            <div class="option_1">
                <%= f.label :a %><br/>
                <%= f.text_field :options, autofocus: true,name: 'question[options][]' %>
            </div>

            <div class="option_2">
                <%= f.label :b %><br/>
                <%= f.text_field :options, autofocus: true,name: 'question[options][]' %>
            </div>

            <div class="option_3">
                <%= f.label :c %><br/>
                <%= f.text_field :options, autofocus: true,name: 'question[options][]' %>
            </div>

            <div class="option_4">
                <%= f.label :d %><br/>
                <%= f.text_field  :options, autofocus: true,name: 'question[options][]' %>
            </div>
        </div>

        <div id="correct_answer">
            <div id="correct_answers_1">
                <%= f.label :correct_answer %><br/>
                <%= f.label :correct_answer,"A"%>
                <%= f.radio_button :correct_answer,'A',:checked => true%>

                <%= f.label :correct_answer, "B" %>
                <%= f.radio_button :correct_answer,'B'%>

                <%= f.label :correct_answer, "C" %>
                <%= f.radio_button :correct_answer,'C'%>

                <%= f.label :correct_answer, "D" %>
                <%= f.radio_button :correct_answer,'D'%>
            </div>
        </div>
        <%= f.submit "Add Question", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
