<span>

    <h1 class = "">
        Create test
    </h1>
    <h2 class="pull-left center"><%= link_to "Create Test",new_test_path ,:class => "btn btn-success" %></h2>

    <table class="table">
        <tr>
            <th class="">Name</th>
            <th>Duration</th>
            <th>Date</th>
            <th>Questions</th>
            <th>Marks</th>
            <th>Status</th>
            <th>Privacy</th>
        </tr>

        <% @created_tests.each do |test| %>
        <tr>
            <td><%= link_to test.name,test_path(test) %></td>
            <td><%= test.duration.strftime('%H:%M')%></td>
            <td><%= test.date%></td>
            <td><%= test.number_of_questions%></td>
            <td><%= test.marks%></td>
            <td><%= test.active? ? "Active" : "Inactive"%></td>
            <td><%= test.private? ? "Private" : "Public"%></td>
            <td class="" style="margin:10px;text-decoration:none;">
                <%= link_to "Remove Test",test_path(test),method:"DELETE",data: {confirm: "Are you sure?"},:class => "btn btn-danger"%></td>

        </tr>
        <% end %>
    </table>
