<span class="LogoutButton white-text"><%= link_to "Logout", destroy_user_session_path %>
    <span>
        <h1 class=" white-text"><%= @user.name %>'s Dashboard
        </h1>
        <p>
            <%= @user.name %></p>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Duration</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>

            <% @tests.each do |test| %>
            <tr>
                <td><%= test.name %></td>
                <td><%= test.duration %></td>
                <% if @enrolled_test.include? test.id%>
                <td>
                    "Enroll"</td>
                <%else%>
                <td>
                    "Take Test"</td>
                <% end %>

            </tr>
            <% end %>
        </table>
