<div>
  <div class="option_1">
      <%= f.label :a %><br/>
      <%= f.text_field :a, autofocus: true,name: 'question[options][]' %>
  </div>

  <div class="option_2">
      <%= f.label :b %><br/>
      <%= f.text_field :b, autofocus: true,name: 'question[options][]' %>
  </div>

  <div class="option_3">
      <%= f.label :c %><br/>
      <%= f.text_field :c, autofocus: true,name: 'question[options][]' %>
  </div>

  <div class="option_4">
      <%= f.label :d %><br/>
      <%= f.text_field  :d, autofocus: true,name: 'question[options][]' %>
  </div>
</div>
