<div>
    <td><%= test_question.test_question %></td>
    <td><%= test_question.options[0] %></td>
    <td><%= test_question.options[1] %></td>
    <td><%= test_question.options[2] %></td>
    <td><%= test_question.options[3] %></td>
    <td><%= test_question.correct_answer %></td>
</div>
