<div class="">
  <%= current_que.question %>


  <%= form_tag(submit_clicked_path(), remote: true) %>
  <%- if current_que.question_type.to_i == 0 %>
          <%=number_field_tag "integer_type_answer" %>

  <%- elsif current_que.question_type.to_i == 1 %>

      <%= radio_button_tag("response","A") %>
      <label for=""><%= current_que.options[0] %> </label>
      <br>
      <%= radio_button_tag("response","B") %>
      <label for=""><%= current_que.options[1] %> </label>
      <br>

      <%= radio_button_tag("response","C") %>
      <label for=""><%= current_que.options[2] %> </label>
      <br>

      <%= radio_button_tag("response","D") %>
      <label for=""><%= current_que.options[3] %> </label>
      <br>


  <!-- <div class="radio">

  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      <%= current_que.options[1] %>
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
      <%= current_que.options[2] %>
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
      <%= current_que.options[3] %>
    </label>
  </div> -->





  <%- else %>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      <%= current_que.options[0] %>

    </label>
  </div>


  <div class="checkbox">

  <label>
    <input type="checkbox" value="">
    <%= current_que.options[1] %>
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    <%= current_que.options[2] %>

  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    <%= current_que.options[3] %>

  </label>
</div>

<%- end %>
<br>
  <%= submit_tag("Submit",class:"btn btn-primary") %>

</div>
