
<div>
  <h1>
    attempted <%=@attempted%> out of <%=@total_noq%>
  </h1>
</div>

<div>
  <h1>
    Score is <%=@score%> out of <%=@total_marks%>
  </h1>
</div>

<div>
  <h1>
    Percentage is <%=@percentage%> %
  </h1>
</div>

<div>
  <h1>

  </h1>
    <%=link_to "See Leaderboard",result_test_path(@current_test)%>
</div>
