<div class="panel panel-default">
    <div class="panel-heading">
        <h3><%= @current_test.name %></h3>

    </div>

    <div class="panel-body">

        <div class="col-lg-4 col-sm-4">
            <table class="table border-right">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Marks</th>
                    </tr>
                </thead>
                <tbody>
                    <% @temp.each do |question_id,marks| %>

                    <tr>
                        <td>
                            <strong><%= link_to get_question(question_id).question ,show_current_question_path(@questions.find(question_id),:test_id=>@current_test),remote: true %></strong>
                        </td>
                        <td>
                          <%=marks %>
                        </td>
                    </tr>

                    <%- end %>
                </tbody>

            </table>

        </div>

        <!-- Right -->
        <div class="col-lg-8">
            <div id="div_with_current_question">
                <%= render 'current_selected_question', current_question: @current_question %>
            </div>

        </div>

    </div>

      <!--footer  -->
    <div class="panel-footer">
      <%=link_to "Finish Test",finish_path,class:"btn btn-success pull-right"%>
    </div>

</div>
