<div>
    <td><%=question.question%></td>
    <td><%=question.options[0]%></td>
    <td><%=question.options[1]%></td>
    <td><%=question.options[2]%></td>
    <td><%=question.options[3]%></td>
    <td><%=question.correct_answer%></td>
</div>
