<div>
    <td><%=test.id%></td>
    <td><%=test.name%></td>
    <td><%=test.date%></td>
    <td><%=test.duration%></td>
    <td><%=link_to "Edit",edit_test_path%></td>
    <td><%=link_to "Add Question",edit_test_path%></td>
</div>
