
<%= form_for @employer.employer_detail ,url:employer_details_path do |f| %>

    <%= render 'shared/error_messages',object: f.object %>

    <div class="col-lg-4">
        <%= f.label :company %>
        <%= f.text_field :company %>
    </div>

    <div class="col-lg-4">
        <%= f.label :company_address %>
        <%= f.text_field :company_address %>
    </div>

    <div class="col-lg-4">
        <%= f.label :contact %>
        <%= f.number_field :contact %>
    </div>

    <div class="actions" style="margin-top:5px;">
        <%= f.submit "Update",:class => "btn btn-success" %>
    </div>

<%end%>
