
<%= form_for @student.student_detail ,url:student_details_path do |f| %>
    <div class="col-lg-4">
        <%= f.label :age %>
        <%= f.number_field :age %>
    </div>

    <div class="col-lg-4">
        <%= f.label :college %>
        <%= f.text_field :college %>
    </div>

    <div class="col-lg-4">
        <%= f.label :experience,"Experience in years" %>
        <%= f.number_field :experience %>
    </div>

    <div class="col-lg-4">
        <%= f.label :skills %>
        <%= f.text_field :skills %>
    </div>

    <div class="actions" style="margin-top:5px;">
        <%= f.submit "Update",:class => "btn btn-success" %>
    </div>

<%end%>
